.button {
  background-color: #FF0000; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

body { 
text-align: center;
background: white; }

form {
	margin-top: 200px;
}
input {
 margin-bottom: 100px; }

select {
 margin-bottom: 100px; }
 
 table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed
}
th, td {
  padding: 5px;
  text-align: left;    
}

img{
 max-width: 100%;
  height: auto; }