﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <meta charset="utf-8" />
	
</head>
<body>

<table style="width:100%">
   <tr>
    <th rowspan="13" width="250" height="250">
	{% if gender == 'Male' and haircolour == 'Blond' %}
        {% for img in imgrandblndm %}
		<img src="static/{{img}}" alt="{{imgL}}" width="250" height="250">
		{% endfor %}
	{% elif gender == 'Female' and haircolour == 'Blond' %}
		{% for img in imgrandblndf %}
		<img src="static/{{img}}" alt="{{imgL}}" width="250" height="250">
		{% endfor %}
	{% elif gender == 'Male' and haircolour == 'Black' %}
		{% for img in imgrandblkm %}
		<img src="static/{{img}}" alt="{{imgL}}" width="250" height="250">
		{% endfor %}
	{% elif gender == 'Female' and haircolour == 'Black' %}
		{% for img in imgrandblkf %}
		<img src="static/{{img}}" alt="{{imgL}}" width="250" height="250">
		{% endfor %}
	{% elif gender == 'Male' and haircolour == 'Brown' %}
		{% for img in imgrandbrwnm %}
		<img src="static/{{img}}" alt="{{imgL}}" width="250" height="250">
		{% endfor %}
	{% elif gender == 'Female' and haircolour == 'Brown' %}
		{% for img in imgrandbrwnf %}
		<img src="static/{{img}}" alt="{{imgL}}" width="250" height="250">
		{% endfor %}
	{% elif gender == 'Male' and haircolour == 'Red' %}
		{% for img in imgrandredm %}
		<img src="static/{{img}}" alt="{{imgL}}" width="250" height="250">
		{% endfor %}
	{% elif gender == 'Female' and haircolour == 'Red' %}
		{% for img in imgrandredf %}
		<img src="static/{{img}}" alt="{{imgL}}" width="250" height="250">
		{% endfor %}
	{% elif gender == 'Male' and haircolour == 'Blue' %}
		{% for img in imgrandbluem %}
		<img src="static/{{img}}" alt="{{imgL}}" width="250" height="250">
		{% endfor %}
	{% elif gender == 'Female' and haircolour == 'Blue' %}
		{% for img in imgrandbluef %}
		<img src="static/{{img}}" alt="{{imgL}}" width="250" height="250">
		{% endfor %}
	{% elif gender == 'Male' and haircolour == 'Green' %}
		{% for img in imgrandgrnm %}
		<img src="static/{{img}}" alt="{{imgL}}" width="250" height="250">
		{% endfor %}
	{% elif gender == 'Female' and haircolour == 'Green' %}
		{% for img in imgrandgrnf %}
		<img src="static/{{img}}" alt="{{imgL}}" width="250" height="250">
		{% endfor %}
	{% elif gender == 'Male' and haircolour == 'White' %}
		{% for img in imgrandwhtm %}
		<img src="static/{{img}}" alt="{{imgL}}" width="250" height="250">
		{% endfor %}`
	{% elif gender == 'Female' and haircolour == 'White' %}
		{% for img in imgrandwhtf %}
		<img src="static/{{img}}" alt="{{imgL}}" width="250" height="250">
		{% endfor %}
    {% endif %}</th>
    <td><b>Name:</b> {{ fname }} {{ lname }}</td>
  </tr>
  
  <tr>
    <td><b>Age:</b> {{ age }}</td>
  </tr>
   <tr>
    <td><b>Gender:</b> {{ gender }} </td>
  </tr>
  
    <tr>
    <td><b>Hair colour:</b> {{ haircolour }}</td>
  </tr>
  
    <tr>
    <td><b>Eye colour:</b> {{ eyecolour }}</td>
  </tr>
  <tr>
    <td><b>Glasees:</b> {{ glasses }}</td>
  </tr>
    <tr>
    <td><b>Personaility:</b> {{ traits }}</td>
  </tr>
  <tr>
    <td><b>Likes and Interests:</b> {{ likes }}</td>
  </tr>
  <tr>
    <td><b>Dislikes:</b> {{ hates }}</td>
  </tr>
  <tr>
    <td><b>Job:</b> {{ job }}</td>
  </tr>
  <tr>
    <td><b>Height:</b> {{ height }} cm</td>
  </tr>
  <tr>
    <td><b>Weight:</b> {{ weight }} kg</td>
  </tr>
  <tr>
    <td><b>Favourite food:</b> {{ food }}</td>
  </tr>
 
</table>
<br>
<button onclick="window.print();return false">Print</button>
</body>
</html>