﻿<!DOCTYPE html>

<html>
<head>


<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">


    <meta charset="utf-8" />
</head>
<body>


    <form action="/Charsheet" method="post">

        <label for="name"> Name:</label>
        <input type="text" id="fname" name="fname">
        <input type="text" id="lname" name="lname"><br>
		
		<label for="age"> Age:</label>
        <input type="number" id="age" name="age"><br>


        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select><br />

        <label for="hair"> Hair colour:</label>
         <select id="haircolour" name="haircolour">
            <option value="Blond">Blond</option>
            <option value="Black">Black</option>
			<option value="Brown">Brown</option>
			<option value="Red">Red</option>
			<option value="Blue">Blue</option>
			<option value="Green">Green</option>
			<option value="White">White</option>
        </select><br />
		
		<label for="eye"> Eye colour:</label>
        <input type="text" id="eye" name="eyecolour"><br>

        <label for="glasses">Glasses:</label>
        <select id="glasses" name="glasses">
            <option value="yes">Yes</option>
            <option value="no">No</option>
		</select><br />
			
		<label for="traits"> Personality traits:</label>
        <input type="text" id="traits" name="traits"><br>
       
		
		<label for="likes"> Likes and Interests:</label>
        <input type="text" id="likes" name="likes"><br>
        
		
		<label for="hates"> Dislikes:</label>
        <input type="text" id="hates" name="hates"><br>
        
		
		<label for="job"> Job (e.g. Student or Soldier):</label>
        <input type="text" id="job" name="job"><br>
		
		<label for="height"> Height in cm:</label>
        <input type="number" id="height" name="height"><br>
		
		<label for="height"> Weight in kg:</label>
        <input type="number" id="weight" name="weight"><br>
		
		<label for="food"> Favourite food:</label>
        <input type="text" id="food" name="food"><br>


		 
		<p><input type="submit" value="submit"/></p>




    </form>
</body>
</html>